<IfModule mod_rewrite.c>

	RewriteEngine on

	# if a directory or a file exists, use it directly
	#если это файл или каталог- используем напрямую
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	# otherwise forward it to index.php
	# иначе перенаправляем на index.php
 	RewriteRule (.+) index.php 
 	
 </IfModule>
