.slider ul{
  width: 100% !important;
}
.slider > img{
    background-color: rgba(0, 0, 0, 0.439);
    padding: 5px;
    position: absolute;
    width: 8% !important;
    transition-duration: 0.2s;
}
.slider > img:hover{
  background-color: rgba(0, 0, 0, 0.878);
  
}
.slider >img:nth-child(3){
  right: 0px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}