.deleteForm form {
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 215, 215);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 900;
    border: 2px solid rgba(3, 3, 3, 0.473);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.486);
}
.deleteForm input {
    border: 2px solid rgb(95, 95, 95);
    border-radius: 5px;
    height: 30px;
    padding-left: 10px;
    font-size: 20px;
    margin: 10px 10px;
}
.deleteForm input:focus::placeholder {
    color: rgb(205, 212, 218);
}
.deleteForm input[type='button'] {
    cursor: pointer;
    background-color: rgba(206, 58, 58, 0.795);
    color: white;
    width: 100%;
    transition-duration: .2s;
}
.deleteForm input[type='button']:hover {
    background-color: white;
    color: black;
}
.deleteForm input[type='button']:active{
    background-color: rgb(137, 137, 137);
}
.deleteForm input[type='submit'] {
    cursor: pointer;
    background-color: rgba(117, 6, 6, 0.795);
    color: white;
    transition-duration: .2s;
}
.deleteForm input[type='submit']:hover {
    background-color: white;
    color: black;
}
.deleteForm input[type='submit']:active{
    background-color: rgb(137, 137, 137);
}
.deleteForm a{
    color: black;
    margin: auto;
    transition-duration: .2s;
}
.deleteForm a:hover{
    color: white;
    text-shadow: 0px 2px 1px black;
}