header {
    width: 100%;
    height: 8vmin;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    box-sizing: border-box;
    background-color: white;
}
header > div{
    flex-grow: 1;
}
a, p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}
.logo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 7%;
    flex-grow: unset;
}
.logo a{
    width: 100%;
}
.logo img{
    width: 100%;
}
.buttonContainer {
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: end;
}
.buttonContainer > div{
    margin: 1.5vmin;
}
.favouritesContainer {
    height: 100%;
    display: flex;
    align-items: center;
}
.favouritesContainer a {
    height: 40%;
    width: auto;
}
.favouritesContainer img{
    height: 100%;
    width: auto;
}
.buttonContainer a{
    text-decoration: unset;
    color: black;
    font-weight: 900;
    transition-duration: 0.2s;
}
.buttonContainer .loginContainer{
    display: flex;
}
.login:hover {
    cursor: pointer;
}
a[href="addAdv"] {
    color: white;
    padding: 5px 10px;
    padding-bottom: 7px;
    background-color: black;
    border-radius: 5px;
}
a[href="addAdv"]:hover {
    background-color: lightgrey;
    color: black;
}
