.insertForm form {
    display: flex;
    flex-direction: column;
    background-color: rgb(215, 240, 250);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 900;
    border: 2px solid rgba(3, 3, 3, 0.473);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.486);
}
.insertForm input {
    border: 2px solid rgb(95, 95, 95);
    border-radius: 5px;
    height: 30px;
    padding-left: 10px;
    font-size: 20px;
    margin: 10px 10px;
}
.insertForm input:focus::placeholder {
    color: rgb(205, 212, 218);
}
.insertForm input[type='button'] {
    cursor: pointer;
    background-color: rgba(118, 199, 226, 0.795);
    color: white;
    width: 100%;
    transition-duration: .2s;
}
.insertForm input[type='button']:hover {
    background-color: white;
    color: black;
}
.insertForm input[type='button']:active{
    background-color: rgb(137, 137, 137);
}
.insertForm input[type='submit'] {
    cursor: pointer;
    background-color: rgba(13, 135, 175, 0.795);
    color: white;
    transition-duration: .2s;
}
.insertForm input[type='submit']:hover {
    background-color: white;
    color: black;
}
.insertForm input[type='submit']:active{
    background-color: rgb(137, 137, 137);
}
.back_Insert {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.insertForm a{
    color: black;
    margin: auto;
    transition-duration: .2s;
}
.insertForm a:hover{
    color: white;
    text-shadow: 0px 2px 1px black;
}