html {
    height: 100%;
    width: 100%;
}
:root {
    --index: calc(1vw + 1vh);
}
body {
    margin: 0;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
	background: linear-gradient(#fdd7dd 0%, #fdd7dd 25%, #fde7c8 25%, #fde7c8 50%, #faf6d7 50%, #faf6d7 75%, #d2edfd 75%);
	background-position: 100px 100vh;
	background-repeat: repeat-y;
	background-position: 0px 0px;
	animation: gradient 10s infinite linear;
}
 
@keyframes gradient {
	100% {
		background-position: 0 100vh;
	}
}
header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: space-evenly;
    align-items: center;
    height: calc(var(--index)*5);
    background-color: rgb(208, 237, 247);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.192);
}
main {
    display: flex;
    font-size: 24px;
    height: auto;
    padding-top: 200px;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 200px;
}