:root {
  --index: calc(1vw * 1vh);
}

/* ----------------------------- error page ------------------- */
.error_page {
  width: 50vw;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.error_page div {
  width: 50%;
  height: 60%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.error_page div:nth-child(2) {
  height: 35%;
}

.error_page div p {
  width: 100%;
  font-size: 24px;
}

.error_page div p:first-child {
  font-size: 42px;
}

.error_page div img {
  height: 100%;
  object-fit: contain;
}

/* ------------------------------------------ modal */

.modal__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  transition: opacity 0.2s ease-in;
}

.modal__content {
  position: relative;
  height: fit-content;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
}

.login form {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  cursor: auto;
}

.login form button {
  font-size: 1em;
  margin-top: 20px;
  width: 40%;
  background-color: black;
}

.login form input {
  margin-bottom: 10px;
}

.btn_container {
  width: 100%;
  margin-top: 10px;
  cursor: auto;
  display: flex;
  justify-content: space-between;
}

.btn_container div {
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_container div a,
.btn_container div button {
  width: 100%;
}

.modal__content {
  position: relative;
  height: fit-content;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
}

.login form {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  cursor: auto !important;
}

.login form input {
  margin-bottom: 10px;
}

.login form button {
  font-size: 1em;
  width: 40%;
  background-color: black;
}

.btn_container {
  width: 100%;
  margin-top: 10px;
  cursor: auto;
  display: flex;
  justify-content: space-between;
}

.btn_container div {
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_container div a,
.btn_container div button {
  width: 100%;
  margin-top: 0;
}

@media (min-width: 576px) {
  .modal__content {
    max-width: 500px;
    margin: auto auto;
  }
}

.modal__show .modal__backdrop,
.modal__show .modal__content {
  opacity: 1;
  z-index: 1050;
  pointer-events: auto;
  overflow-y: auto;
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
}

.modal__btn-close {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  text-decoration: none;
}

.modal__btn-close:focus,
.modal__btn-close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
}

.modal__body {
  position: relative;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}

.modal__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

/* ------------------------------------------ body */

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  min-height: 100vh !important;
}

/* ================================back for pages============================= */
.main_back {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: inset 0px 0px 10vw 15px black;
  z-index: -5;
}

.main_back img {
  width: 100%;
  opacity: 0.5;
  filter: blur(4px);
}

.back {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: inset 0px 0px 10vw 15px black;
  z-index: -5;
}

.back img {
  width: 100%;
  filter: blur(3px) brightness(65%);
}

/* ================================back for pages============================= */

main {
  width: 100%;
  margin-top: 8vmin;
  flex-grow: 1;
}

main .content {
  width: 100%;
  padding: 0px 10%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: start;
}

main .content>h2 {
  font-size: 5vmin;
  width: 100%;
  text-align: center;
  align-items: baseline;
  font-weight: 500;
  margin: 30px 0px;
  text-transform: capitalize;
}

/* ==================================aside for search===========================*/
.content>aside {
  width: 25%;
  height: min-content;
  font-size: 1.8vmin;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  padding: 20px;
  box-sizing: border-box;
  position: sticky;
  top: 10vmin;
  margin-right: 5%;
}

.content>aside p {
  margin: 0;
}

.content>aside .types {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content>aside .types .type {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  box-sizing: border-box;
  transition-duration: 0.2s;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 1vmin;
}

.content>aside .types .type input {
  display: none;
}

.content>aside .types .type:hover {
  background-color: whitesmoke;
}

.content>aside .types .type img {
  width: 80%;
}

.content>aside .types .type .name {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.place {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.place select {
  width: 48%;
  height: 4vmin;
  font-size: 2vmin;
}

.parametrs div p {
  margin: 0;
  padding: 0;
  width: min-content;
}

.parametrs div label {
  margin-top: 10px;
  font-weight: 600;
}

.parametrs div div {
  display: flex;
  justify-content: baseline;
  width: 100% !important;
  justify-content: space-between;
}

.parametrs div div input {
  width: 40%;
  text-align: center;
}

aside form button {
  margin-top: 15px;
  font-size: 32px;
  width: 100%;
}

/* ==================================aside for search=========================== */

main .estates {
  width: 70%;
}

main .ads {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 5vmin;
}

main .ads h1 {
  width: 100%;
}

main .ads .ad, main .ads .offer {
  width: 31%;
  background-color: white;
  cursor: pointer;
  margin: 1%;
}

.ads .ad .estate_inf, .ads .offer .estate_inf {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.ads .ad .estate_inf h2, .ads .offer .estate_inf h2 {
  font-size: 3vmin;
  text-transform: capitalize;
}

.ads .ad .estate_inf p:nth-child(2), 
.ads .offer .estate_inf p:nth-child(2)  {
  text-transform: capitalize;
}

.ads .ad .estate_inf p, .ads .offer .estate_inf p {
  font-size: 2vmin;
}

.ads .ad .estate_inf h3, .ads .offer .estate_inf h3 {
  font-size: 2.5vmin;
  color: darkred;
  font-weight: 900;
}

.ads>.btn_container {
  width: 100%;
}

.ads>.btn_container a {
  width: fit-content;
  height: 62px;
  margin: 10px 0px;
  text-decoration: none;
  color: darkred;
  font-size: 3vmin;
}

/* =============================ad page=================================== */
.Ad {
  width: 100%;
  padding: 0px 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(246, 246, 246);
  position: relative;
}

.Ad h1 {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 5vmin;
  margin: 20px 0;
}

.Ad h1 {
  font-size: 5.5vmin;
  font-weight: 500;
}

.Ad h2 {
  font-size: 3.5vmin;
  color: grey;
  font-weight: 400;
}

.Ad .picture {
  width: 70%;
}

.Ad .slider>img {
  width: 5% !important;
}

.fav_btn {
  width: 95px;
  height: 95px;
  position: absolute;
  top: 50px;
  right: 80px;
}

.fav_btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: brightness(50%);
  transform: scale(0.9);
  transition: ease all 0.3s;
}

.fav_btn img:hover {
  filter: brightness(90%);
  transform: scale(1.02) rotate(5deg);
}

.fav_btn input {
  display: none;
}

.fav-active {
  filter: brightness(90%) !important;
}

.Ad .inf {
  list-style: none;
  width: 28%;
  padding: 0;
}

.Ad .inf li {
  font-size: 2.5vmin;
  text-transform: capitalize;
  width: 100%;
  margin: 0;
  padding: 0px 10px;
}

.Ad .inf li:nth-child(2n-1) {
  background-color: #0000000e;
}

.Ad .inf li p {
  margin: 0;
  text-transform: none;
}

.Ad .inf form {
  width: 100%;
  padding: 10px 20px;
  font-size: 2vmin;
}

.Ad .inf form h3 {
  text-transform: none;
}

.Ad .inf input {
  margin-bottom: 15px;
  width: 100%;
}

.Ad .inf input::placeholder {
  text-align: center;
}

.Ad .inf input:placeholder-shown {
  text-align: left;
}

.adBasement_container {
  width: 95% !important;
  padding: 0.375rem 0.6rem !important;
  margin: 15px 10px;
  border-bottom: 2px solid #fafafa;
  border-radius: 3px;
  display: flex;
}

.adBasement_container label {
  width: 92%;
}

.adBasement_container input {
  width: 8% !important;
}

.Ad .inf textarea {
  resize: none;
  width: 100%;
  height: 15vmin;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.Ad .des {
  width: 70%;
  margin-top: 30px;
}

.Ad .des h3 {
  font-size: 2.5vmin;
  font-weight: 300;
}

.Ad .des p {
  font-size: 1.8vmin;
  font-weight: 100;
}

.no_offers {
  margin-top: 20px;
  font-size: 26px;
}

/* =============================ad page=================================== */

/* ------------ Registration page --------------- */
#registrationPage {
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 75px;
}

#registrationPage h1 {
  width: 100%;
  text-align: center;
  margin: 25px 0;
}

#registrationPage form {
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  box-shadow: 0 0 5px 2px #7b7b7b;
  border: 2px solid #7b7b7b;
  border-radius: 5px;
  padding: 15px;
  background-color: white;
}

#registrationPage form div,
#registrationPage form div>div {
  width: 45%;
}

#registrationPage form .input-group {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
}

#registrationPage form .input-group input {
  margin: 0;
}

#registrationPage form .input-group-text {
  height: 100% !important;
}

#registrationPage form div input {
  margin: 20px 0;
}

#registrationPage form .btn_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0;
}

#registrationPage form .btn_container input {
  margin: 0;
  width: 30%;
}

/* ==========================================adv form====================================== */
.createAdv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.createAdv h2 {
  margin-bottom: 55px;
}

.createAdv .picture {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createAdv .picture p{
  width: 100%;
}
.createAdv>ul {
  list-style: none;
  width: 25%;
}

.createAdv>ul li {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  background-color: rgba(0, 0, 0, 0.02);
}

/* .createAdv > ul li:nth-child(2n-1){background-color: rgba(0, 0, 0, 0.02);} */
.createAdv>ul li span {
  height: 51.6px !important;
}

.createAdv input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  height: 5vmin;
  background: none;
}

.createAdv input[type="checkbox"] {
  height: 3vmin;
}

.createAdv input[type="file"] {
  border: none;
}

.createAdv select {
  width: 100%;
  height: 5vmin;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  background: none;
}

.createAdv .des {
  width: 100%;
}

.createAdv .des textarea {
  width: 100%;
  height: 45vmin;
  resize: none;
  margin-bottom: 20px;
}

/* ==========================================adv form====================================== */

/* ==============================================makler page===================================== */
.mackler {
  width: 20% !important;
}

.mackler select {
  width: 100%;
  margin-top: 10px;
  height: 5vmin;
  font-size: 2.1vmin;
  text-align: center;
}

.mackler select:blank {
  max-height: 10vh;
  overflow-y: scroll;
}

#county {
  margin-bottom: 10px;
}

.macklers {
  width: 45%;
}

.macklers .agent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.297);
  padding: 20px;
  background-color: white;
}

.macklers .picture {
  background-size: cover;
  background-position: center;
  width: 7vw;
  height: 7vw;
  border-radius: 5vw;
  border: 1px solid rgba(0, 0, 0, 0.285);
}

.macklers .inf {
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.macklers p {
  margin: 0;
  font-size: 1.8vmin;
}

.macklers a {
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-size: 2vmin;
  text-decoration: none;
  border: 2px solid black;
  transition-duration: 0.2s;
}

.macklers a:hover {
  background-color: white;
  color: black;
}

/* ==============================================makler page===================================== */

/* =================================================profile======================================== */

.profile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profile h2 {
  width: 100%;
  text-align: center;
  font-size: 5vmin;
  margin-bottom: 45px;
}

.profile .profile_img {
  width: 20%;
  position: sticky;
  top: 0px;
  left: 0px;
  border-radius: 100vw;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.profile .profile_img input {
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.profile .profile_img img {
  width: 100%;
}

.profile .data {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.profile .data #changeProfile {
  margin-top: 15px;
}

.profile .data input {
  width: 100%;
  margin-bottom: 10px;
}

.data hr {
  margin: 7px;
}

.user_ads {
  width: 60%;
  margin: 0 auto;
  margin-top: 80px;
}

.user_ads h2 {
  text-align: center;
  font-size: 4vmin;
  margin: 50px;
}

.user_ads .estate {
  width: 100%;
  display: flex;
  background-color: white;
  margin-bottom: 15px;
  border-radius: 0 5px 5px 0;
  position: relative;
  border: 1px solid #cccccc35;
}

.user_ads .estate .btn_container {
  width: 45%;
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  justify-content: space-between;
}

.user_ads .estate .btn_container a {
  width: 45%;
  font-size: 2vmin;
}

.user_ads .slider {
  width: 50% !important;
}

.user_ads .slider ul {
  height: 15.13vw !important;
}

.user_ads .inf {
  padding: 20px;
  box-sizing: border-box;
  /* border: 2px solid rgba(0, 0, 0, 0.285);
  border-left: none; */
  flex-grow: 1;
  padding-left: 50px;
}

.user_ads .inf_text {
  height: 50%;
}

.user_ads h3 {
  font-size: 3vmin;
}

.user_ads p {
  font-size: 2vmin;
}
/* =================================================profile======================================== */

/* ==================================================favorites========================================== */
.no_favorites {
  width: 100%;
  text-align: center;
  margin-top: 25px;
  font-size: 3vmin !important;
  font-weight: 600;
}

.favorites {
  width: 60%;
}

.favorites .estate {
  width: 100%;
  display: flex;
  background-color: white;
  margin-bottom: 15px;
  border-radius: 0 5px 5px 0;
  position: relative;
}

.favorites .estate .btn_container {
  width: 20%;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.favorites .estate .btn_container a {
  width: 100%;
  font-size: 2vmin;
}

.favorites .slider {
  width: 50% !important;
  height: 100%;
}

.favorites .inf {
  padding: 20px;
  box-sizing: border-box;
  /* border: 2px solid rgba(0, 0, 0, 0.285);
  border-left: none; */
  flex-grow: 1;
  padding-left: 50px;
}

.favorites .inf_text {
  height: 50%;
}

.favorites h3 {
  font-size: 3vmin;
}

.favorites p {
  font-size: 2vmin;
}

/* ==================================================favorites========================================== */