.tableDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    justify-content: center;
}
a[href="insertTable"] {
    align-self: center;
    width: fit-content;
    background-color: rgba(118, 199, 226, 0.795);
    text-decoration: unset;
    letter-spacing: 2px;
    font-weight: 500;
    color: white;
    padding: 3px 20px;
    margin-bottom: 20px;
    border: 2px solid rgb(79, 148, 172);
    border-radius: calc(var(--index)/5);
    transition-duration: .2s;
}
a[href="insertTable"]:hover {
    background-color: white;
    color: black;
}
a[href="insertTable"]:active{
    background-color: rgb(137, 137, 137);
}
table {
    width: 100%;
}
th{
    border: 2px solid black;
    text-transform: uppercase;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;    
    transition-duration: .2s;
}
th:nth-child(-n+6):hover {
    background-color: aquamarine;
}
th:nth-child(-n+6):active {
    background-color: rgb(95, 194, 161);
}
td {
    border: 2px solid rgb(168, 168, 168);
    text-align: center;
    height: 50px;
}
tr {
    background-color: white;
}
tbody tr:nth-child(odd) {
    background-color: rgb(230, 230, 230);
}
.update, .delete {
    letter-spacing: 2px;
    font-weight: 500;
    padding: 3px 7px;
    border-radius: calc(var(--index)/5);
    text-decoration: unset;
    color: white;
}
.update {
    background-color: rgba(0, 128, 0, 0.774);
    border: 2px solid rgba(0, 128, 0, 0.774);
    transition-duration: .2s;
}

.delete {
    background-color: rgba(128, 0, 0, 0.774);
    border: 2px solid rgba(128, 0, 0, 0.774);
    transition-duration: .2s;
}
.delete:hover,.update:hover {
    background-color: white;
    color: black;
}
.update:active, .delete:active {
    background-color: rgb(137, 137, 137);
}